# (Migration only) PostgreSQL source
PG_HOST=192.168.110.23
PG_PORT=xxx
PG_DATABASE=xxx
PG_USER=postgres
PG_PASSWORD=example
ES_ENDPOINT=https://example.es.aliyuncs.com:9200
ES_USERNAME=elastic
ES_PASSWORD=example
ES_INDEX=html_pages
ES_TEMPLATE_INDEX=form_templates
ES_INSTANCE_INDEX=form_instances
ES_SUBMISSION_INDEX=form_submissions

# OSS Configuration
OSS_ACCESS_KEY_ID=
OSS_ACCESS_KEY_SECRET=
OSS_ENDPOINT=oss-cn-hangzhou.aliyuncs.com
OSS_BUCKET_NAME=yochat-v5
OSS_PREFIX=html/v5/
OSS_DOMAIN=https://yochat-v5.oss-cn-hangzhou.aliyuncs.com/
